@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

body{
    background-color: #212121;
}

.monogram{
    margin: 16px 0 16px ;
    width: 32px;
    height: auto;   
}

.container{
    width: 90%;
    padding: 0;
}

.boxdrop :hover{
    color: #ffa000;
    transition: 0.3s;
}

nav{
    background-color: #212121;
    box-shadow: none;
}

nav ul li a{
    font-weight: 600;
}

.subheadings{
    color: white;
    opacity: 0.4;
}

.headings{
    line-height: 90%;
    font-weight: 600;
}

.paragraph{
    color: white;
}  

.arowspacing{
    margin: .6em 0 .6em;
}

.row{
    width: 92%;
}

.card-props{
    overflow: hidden;
    border-radius: 25px;
    background: linear-gradient(145deg, #232323, #1e1e1e);
    box-shadow:  20px 20px 50px #0d0d0d, 
                 -20px -20px 50px #353535;
}
.texture-back{
    background-color: #212121;
}

.custom-shadow{
    box-shadow: 5px 5px 10px black 0.7;
}

.card{
    width: 40%;
    float: left;
    
}

.acolumns{
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
    justify-content: space-between;
    
}